// Branding
:root {
  --c-brand: #af3e3e;
  --c-brand-light: #bf4a4a;
}
html.dark {
  --c-text: #fff;
  --c-brand: #a63a3a;
  --c-brand-light: #943434;
}

// Back to Top Plugin
:root {
  --back-to-top-z-index: 5;

  --back-to-top-color: #af3e7c;
  --back-to-top-color-hover: #cd71a3;
}

// External Link Icon Plugin
:root {
  --external-link-icon-color: #aaa;
}

:root {
  scroll-behavior: smooth;
}

h2 {
  border-bottom: none;
}